# 1- Generators no Pandas

Podemos 'iterar' as  linhas de um DataFrame através da função iterrowsw(), dessa maneira podemos acessar sucessivamente o conteúdo das linhas através da função next()

In [3]:
### Criando o DataFrame:###
import pandas as pd
import time
import numpy as np
dados = [['Carlos', 23, 'Vinhedo', 'Economia', 'Noturno'],
     ['Cinthya', 19, 'Belo Horizonte', 'Economia', 'Diurno'],
     ['Maria', 22, 'São Paulo', 'Adm', 'Diurno'],
     ['Lorenzo', 19, 'Curitiba', 'Economia', 'Diurno']]
dataframe = pd.DataFrame(dados, columns=['Nome', 'Idade', 'Origem', 'Curso', 'Período'])

###Criando um generator para 'iterar' as linhas do DataFrame###
generator = dataframe.iterrows()

###Acessando os itens das linhas do iterador através da função next()###
primeiro = next(generator)
segundo = next(generator)
terceiro = next(generator)
quarto = next(generator)
print(f'{primeiro}\n\n{segundo}\n\n{terceiro}\n\n{quarto}')

(0, Nome         Carlos
Idade            23
Origem      Vinhedo
Curso      Economia
Período     Noturno
Name: 0, dtype: object)

(1, Nome              Cinthya
Idade                  19
Origem     Belo Horizonte
Curso            Economia
Período            Diurno
Name: 1, dtype: object)

(2, Nome           Maria
Idade             22
Origem     São Paulo
Curso            Adm
Período       Diurno
Name: 2, dtype: object)

(3, Nome        Lorenzo
Idade            19
Origem     Curitiba
Curso      Economia
Período      Diurno
Name: 3, dtype: object)

In [16]:
###Usando o for looping para função iterrows()### 
generator = dataframe.iterrows()

for index, values in generator:
    #checa se o índice é ímpar#
    if index % 2 != 0:
    #Escreve os itens de índice ímpar contidos na coluna 0#
        print([values[0]])

['Cinthya']
['Lorenzo']

In [112]:
###Mostrando o dataframe, para vermos a diferença na visualização dos dados###

dataframe

      Nome  Idade          Origem     Curso  Período
0   Carlos     23         Vinhedo  Economia  Noturno
1  Cinthya     19  Belo Horizonte  Economia   Diurno
2    Maria     22       São Paulo       Adm   Diurno
3  Lorenzo     19        Curitiba  Economia   Diurno

Após usar esse 'truque', é possível realizar operações

# 2 - Função apply()

Essa função permite aplicar uma função para todas as células de um DataFrame, também podemos aplicar para certas colunas e linhas quando determinado.

In [242]:
###Usando o apply() para aplicar uma função que eleva os dados da coluna 'Idade' ao quadrado###
quadrado = lambda x: x**2
idade_quadrado = dataframe['Idade'].apply(quadrado)


print(idade_quadrado)

0    529
1    361
2    484
3    361
Name: Idade, dtype: int64

# 3- Vetorização 

A vetorização que permite realizar operações em arrays, aumentando a facilidade em trabalhar com diferentes eixos, usando uma quantidade menor de operações e consequentemente otimizando o tempo de processamento.

In [19]:
print(f'\n\nDataFrame padrão:\n\n\n{dataframe}\n\n\n\n\nUtilizando a função de média na array idade:\n\n\n')

###Realizando a operação de média sobre toda a array 'Idade' (eixo=0).###

dataframe_2 = dataframe[['Idade']].mean(axis=0)

print(f'{dataframe_2}\n\n\n\n\nAplicando soma entre elementos com mesmo índice de duas arrays:\n\n\n')

###Realizando a operação de soma entre as arrays 'Nome' e 'Origem', levando em conta seus índices (eixo=1)###

dataframe_4 = dataframe[['Nome', 'Origem']].sum(axis=1)
print(f'{dataframe_4}')

DataFrame padrão:


      Nome  Idade          Origem     Curso  Período
0   Carlos     23         Vinhedo  Economia  Noturno
1  Cinthya     19  Belo Horizonte  Economia   Diurno
2    Maria     22       São Paulo       Adm   Diurno
3  Lorenzo     19        Curitiba  Economia   Diurno




Utilizando a função de média na array idade:



Idade    20.75
dtype: float64




Aplicando soma entre elementos com mesmo índice de duas arrays:



0            CarlosVinhedo
1    CinthyaBelo Horizonte
2           MariaSão Paulo
3          LorenzoCuritiba
dtype: object

# 4- Transformação de dados através de groupby()
O método transform() permite aplicar uma função para cada valor de um DataFrame, no caso, iremos aplicar a função para cada valor agrupado

In [18]:
###Método transform()###
#Uma transformação aplicada aos dados das idades agrupadas por curso###
idade_media = lambda x: x.mean()
bixos = dataframe.groupby(['Curso'])['Idade'].transform(idade_media)
print(f'{bixos}\n\n\n')


###Método agregate###
#Mesma coisa só que melhor#
idade_media = lambda x: x.sum() / len(x)
bixos1 = dataframe.groupby(['Curso'])['Idade'].agg(['mean'])
bixos1

0    20.333333
1    20.333333
2    22.000000
3    20.333333
Name: Idade, dtype: float64

               mean
Curso
Adm       22.000000
Economia  20.333333

# 5- Filtragem de dados pelo método filter()

In [186]:
###Iremos filtrar os dados, pegando somente informações de quem tem mais de 19 anos###

idade_19 = dataframe.groupby('Nome').filter(lambda x: x['Idade'] > 19)
idade_19

     Nome  Idade     Origem     Curso  Período
0  Carlos     23    Vinhedo  Economia  Noturno
2   Maria     22  São Paulo       Adm   Diurno